
.Header {
    /*border-bottom: 1px solid red;*/
    box-shadow: 0 0px 20px 0 black;
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.Header > .subdiv1 {
    /*border: 4px solid #03ff03;*/
    width: 95%;
    height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.subdiv1 > p {
    /*border: 1px solid red;*/
    background-image: linear-gradient(43deg, rgba(139, 0, 194, 1) 10%, rgba(253, 29, 29, 1) 46%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    width: fit-content;
    height: fit-content;
    margin: auto 20px auto 30px;
    font-family: Candara;
    font-size: 60px;
    font-weight: 600;
    cursor: pointer;
}

.subdiv1 > ul.menus {
    /*border: 1px solid yellowgreen;*/
    list-style: none;
    width: fit-content;
    height: fit-content;
    margin: auto auto auto 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.subdiv1 > ul.menus > li {
    /*border: 1px solid red;*/
    width: fit-content;
    height: 60px;
    margin: auto 3px;
    padding: 0px 10px;
    font-size: 24px;
    display: flex;
    cursor: pointer;

}

.subdiv1 > ul.menus > li > a {
    /*border: 1px solid green;*/
    text-decoration: none;
    color: #ffffff;
    margin: auto;
    position: relative;
}

.subdiv1 > ul.menus > li > a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-image: linear-gradient(43deg, rgba(236, 255, 0, 1) 0%, rgba(5, 237, 54, 1) 44%, rgba(15, 223, 201, 1) 76%, rgba(13, 214, 231, 1) 100%);
    position: absolute;
    bottom: -5px;
    left: 0%;
    transition: ease-in-out 0.2s;
}

.subdiv1 > ul.menus > li:hover a::after {
    width: 100%;
}

.subdiv1 > ul.menus2 {
    /*border: 1px solid salmon;*/
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Doppio One";
    font-size: 24px;
    display: flex;
}

.subdiv1 > ul.menus2 > li {
    border: 3px solid white;
    width: fit-content;
    height: 50px;
    margin: auto 20px auto auto;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    display: flex;
    position: relative;
}

@keyframes contactBtnTopBorderAnim {
    0% {

    }

    100% {
        width: 100%;
    }
}

@keyframes contactBtnBottomBorderAnim {
    0% {
    }
    50% {
        width: 100%;
    }
    100% {

    }
}

/*.subdiv1 > ul.menus2 li::after {*/
/*    content: "";*/
/*    !*background-color: #55ff00;*!*/
/*    border: 3px solid;*/
/*    width: 0%;*/
/*    height: 0%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    !*animation: contactBtnTopBorderAnim ease-in-out 1.8s infinite;*!*/
/*    z-index: 0;*/
/*}*/

.subdiv1 > ul.menus2:hover li::after {
    content: "";
    /*background-color: #55ff00;*/
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: contactBtnBottomBorderAnim ease-in-out 1.8s infinite;
}

.subdiv1 > ul.menus2 > li > a {
    /*border: 1px solid salmon;*/
    text-decoration: none;
    color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    /*padding: 12px 30px 5px 30px;*/
    z-index: 5;
}



